<nav class="navbar fixed-top navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/#">
            <img src="/assets/enis_cebi_logo.png" alt="Logo" class="d-inline-block"
                style="object-fit: contain; width: 225px;" />
        </a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto mb-3 mb-lg-0" style="font-size: 1.25rem; margin-right: 0px !important;">
                <li class="nav-item m-2">
                    <a class="nav-link active" aria-current="page" href="/#">{{ 'NAVBAR.OUR_DORMS' | translate }}</a>
                </li>

                <li class="nav-item m-2">
                    <a class="nav-link active" aria-current="page" href="/facilities">{{ 'NAVBAR.GALLERY_AND_FACILITIES'
                        | translate }}</a>
                </li>

                <li class="nav-item m-2">
                    <a class="nav-link active" aria-current="page" href="/about">{{ 'NAVBAR.ABOUT_US' | translate }}</a>
                </li>

                <li class="nav-item m-2">
                    <a class="nav-link active" aria-current="page" href="/#">{{ 'NAVBAR.OUR_EVENTS' | translate }}</a>
                </li>

                <li class="nav-item m-2">
                    <a class="nav-link active" aria-current="page" href="/#">{{ 'NAVBAR.CONTACT_US' | translate }}</a>
                </li>
            </ul>
        </div>
        <div class="dropdown ">
            <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="languageDropdown"
                data-bs-toggle="dropdown" aria-expanded="false">
                {{getLanguageName(lang)}}
            </button>
            <ul class="dropdown-menu" aria-labelledby="languageDropdown">
                <li><button class="dropdown-item" (click)="useLanguage('en')">English</button></li>
                <li><button class="dropdown-item" (click)="useLanguage('tr')">Türkçe</button></li>
                <li><button class="dropdown-item" (click)="useLanguage('ar')">Arabic</button></li>
            </ul>
        </div>
    </div>
</nav>