/* You can add global styles to this file, and also import other style files */
/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
@import "bootstrap-icons/font/bootstrap-icons.css";

@font-face {
    src: url('/enis-cebi-website/src/assets/fonts/Roboto-Condensed.ttf');
    font-family: 'Roboto-Codensed';
}

* {
    font-family: 'Roboto-Codensed';
}