<div>
  <div *ngIf="screenWidth>800" class="about-us-container">
    <div class="about-us-image">
      <img src="assets/enis_cebi_bina.jpg" alt="{{ 'ABOUT.IMAGE_ALT' | translate }}" style="object-fit: contain;" />
    </div>
    <div class="about-us-content" style="text-align: center;">
      <h2>{{ 'ABOUT.TITLE' | translate }}</h2>
      <p>
        {{ 'ABOUT.PARAGRAPH_1' | translate }}
      </p>
      <p>
        {{ 'ABOUT.PARAGRAPH_2' | translate }}
      </p>
      <p>
        {{ 'ABOUT.PARAGRAPH_3' | translate }}
      </p>
      <p>
        {{ 'ABOUT.PARAGRAPH_4' | translate }}
      </p>
      <p>
        {{ 'ABOUT.PARAGRAPH_5' | translate }}
      </p>
      <p class="signature">{{ 'ABOUT.SIGNATURE' | translate }}</p>
    </div>
  </div>

  <div *ngIf="screenWidth<800">
    <div class="container" style="overflow: hidden;">
      <img src="assets/enis_cebi_bina.jpg" alt="{{ 'ABOUT.IMAGE_ALT' | translate }}"
        style="height: auto; width: 100%;" />
    </div>
    <div class="container-fluid">
      <div class="about-us-content" style="text-align: center;">
        <h2>{{ 'ABOUT.TITLE' | translate }}</h2>
        <p>
          {{ 'ABOUT.PARAGRAPH_1' | translate }}
        </p>
        <p>
          {{ 'ABOUT.PARAGRAPH_2' | translate }}
        </p>
        <p>
          {{ 'ABOUT.PARAGRAPH_3' | translate }}
        </p>
        <p>
          {{ 'ABOUT.PARAGRAPH_4' | translate }}
        </p>
        <p>
          {{ 'ABOUT.PARAGRAPH_5' | translate }}
        </p>
        <p class="signature">{{ 'ABOUT.SIGNATURE' | translate }}</p>
      </div>
    </div>
  </div>
</div>