<div style="margin-top: 91px; ">
  <div class="container mt-4">
    <div class="card custom-card">
      <div class="row g-0">
        <div class="col-md-4 custom-image">
          <img src="/assets/facilities/service-car.png" class="img-fluid" alt="Servis"
            style="border-radius: 8px 0 0 8px;">
        </div>
        <div class="col-md-8 d-flex align-items-center">
          <div class="card-body">
            <h5 class="card-title text-center">Ücretsiz Servis</h5>
            <p class="card-text text-center">
              08:00 - 17:00 Saatleri arasında İstanbul Gelişim Üniversitesi'ne ders programlarına göre belirlenen
              saatlerde servisimiz vardır.
            </p>
            <p class="card-text text-center">
              08:00 - 17:00 Saatleri arasında belirli saatlerde Metrobüse servisimiz vardır.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container mt-4">
    <div class="row">
      <div class="col-md-6 mb-3">
        <div class="card custom-card "
          style="background-color: #d9f2d9; border-radius: 15px; border: none; padding: 20px;">
          <div class="card-body">
            <div class="d-flex align-items-center justify-content-center mb-3">
              <div class="icon-container d-flex justify-content-center ">
                <i class="bi bi-house-fill" style="color: #000000; "></i>
              </div>
              <div>
                <h5 class="card-title mb-0 p-3">Deprem</h5>
              </div>
            </div>
            <p class="card-text text-center">
              Erkek yurdumuzun binası bölgenin tek yurt ruhsatı ile yapılmış binası olma özelliğine sahiptir. Erkek
              yurdumuzun binası ise son deprem yönetmeliğine göre yapılmış ve ilk faaliyetine yurt olarak başlamıştır.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 mb-3">
        <div class="card custom-card "
          style="background-color: #d9f2d9; border-radius: 15px; border: none; padding: 20px;">
          <div class="card-body">
            <div class="d-flex align-items-center justify-content-center mb-3">
              <div class="icon-container d-flex justify-content-center ">
                <i class="bi bi-bus-front-fill" style=" color: #000000; "></i>
              </div>
              <div>
                <h5 class="card-title mb-0 p-3">Kamil Koç & Pamukkale</h5>
              </div>
            </div>
            <p class="card-text text-center">
              Rahatlığınız bizim için her daim önemli. Bu sebeple şirket bünyesinde olan terminallerimiz sayesinde hem
              ekonomik yolculuk edin hem de servislerle yurtlarımızın önünden binerek ulaşım kolaylığınız olsun.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-4" *ngFor="let service of services">
        <div class="card custom-card mt-3" style=" height: 15vh;">
          <div class="card-body d-flex align-items-center">
            <div class="icon-container-mini d-flex justify-content-center col-3 align-items-center">
              <i [class]="service.icon"></i>
            </div>
        
            <div class="ml-3 col-9" style="margin-left: 15px;">
              <h5 class="card-title mt-3">{{ service.name }}</h5>
              <p class="card-text">{{ service.desc }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <h3 style="text-align: center;">Odalarımız</h3>

    <div class="row mt-1" style="width: fit-content;">
      <div class="col-4 p-1">
        <img src="/assets/facilities/5.png" alt="Logo" style="object-fit: contain;width: 100%;" />
      </div>
      <div class="col-4 p-1">
        <img src="/assets/facilities/6.png" alt="Logo" style="object-fit: contain;width: 100%;" />
      </div>
      <div class="col-4 p-1">
        <img src="/assets/facilities/7.png" alt="Logo" style="object-fit: contain;width: 100%;" />
      </div>
    </div>
    <div class="row mt-1">
      <div class="col-6 p-1">
        <img src="/assets/facilities/4.png" alt="Logo" style="object-fit: contain;width: 100%;" />
      </div>
      <div class="col-6 p-1">
        <img src="/assets/facilities/8.png" alt="Logo" style="object-fit: contain;width: 100%;" />
      </div>
    </div>
    <div class="row mt-1">
      <div class="col-4 p-1">
        <img src="/assets/facilities/3.png" alt="Logo" style="object-fit: contain;width: 100%;" />
      </div>
      <div class="col-4 p-1">
        <img src="/assets/facilities/2.png" alt="Logo" style="object-fit: contain;width: 100%;" />
      </div>
      <div class="col-4 p-1">
        <img src="/assets/facilities/1.png" alt="Logo" style="object-fit: contain;width: 100%;" />
      </div>
    </div>
  </div>
</div>