.custom-card {
    background-color: #e0f7fa;
    /* Açık mavi arkaplan */
    border-radius: 12px;
    overflow: hidden;
    border: none;
}

.custom-image {
    padding: 15px;
    /* Resme padding */
}

.icon-container {
    background-color: #b0cdb0;
    border-radius: 50%;
    width: 12vh;
    height: 12vh;
    font-size: 7vh;
}

.icon-container-mini {
    background-color: #bfd7da;
    border-radius: 50%;
    width: 8vh;
    height: 8vh;
    font-size: 4vh;
}

img {
    transition: transform 0.3s ease;
}

img:hover {
    transform: scale(1.03);
}