<div style="margin-top: 91px;">
    <div class="container">
        <h3 style="text-align: center;">Odalarımız</h3>

        <div class="row mt-1" style="width: fit-content;">
            <div class="col-4 p-1">
                <img src="/assets/facilities/5.png" alt="Logo" style="object-fit: contain;width: 100%;" />
            </div>
            <div class="col-4 p-1">
                <img src="/assets/facilities/6.png" alt="Logo" style="object-fit: contain;width: 100%;" />

            </div>
            <div class="col-4 p-1">
                <img src="/assets/facilities/7.png" alt="Logo" style="object-fit: contain;width: 100%;" />

            </div>
        </div>
        <div class="row mt-1">
            <div class="col-6 p-1">
                <img src="/assets/facilities/4.png" alt="Logo" style="object-fit: contain;width: 100%;" />
            </div>
            <div class="col-6 p-1">
                <img src="/assets/facilities/8.png" alt="Logo" style="object-fit: contain;width: 100%;" />
            </div>
        </div>
        <div class="row mt-1">
            <div class="col-4 p-1">
                <img src="/assets/facilities/3.png" alt="Logo" style="object-fit: contain;width: 100%;" />
            </div>
            <div class="col-4 p-1">
                <img src="/assets/facilities/2.png" alt="Logo" style="object-fit: contain;width: 100%;" />
            </div>
            <div class="col-4 p-1">
                <img src="/assets/facilities/1.png" alt="Logo" style="object-fit: contain;width: 100%;" />
            </div>
        </div>
    </div>

</div>