<div class="container-fluid">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel" style="margin-top: 91px;">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS3mZ8YiG8mB8f9fIG47RG0gPiKIpu-26TWmQ&s"
                    class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS3mZ8YiG8mB8f9fIG47RG0gPiKIpu-26TWmQ&s"
                    class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS3mZ8YiG8mB8f9fIG47RG0gPiKIpu-26TWmQ&s"
                    class="d-block w-100" alt="...">
            </div>
        </div>
    </div>
</div>