
.image-container {
    width: 100%;
    display: flex;
    position: relative;}

.tilted-image-left {
    width: 60%;
    height: auto;
    clip-path: polygon(0 0, 100% 0, calc(100% - 10%) 100%, 0 100%);
    position: relative;
    z-index: 1;
    margin-right: -10%; /* Resimleri birbirine yaklaştırmak için */
}

.tilted-image-right {
    width: 50%;
    height: auto;
    clip-path: polygon(10% 0,100%  0, 100% 100%, 0 100%);
    position: relative;
    z-index: 2;
}
.image-container img {
    display: block;
}