.image-container {
    width: 100%;
    display: flex;
    position: relative;
}

.tilted-image-left {
    display: flex;
    justify-content: center;
    /* Yatay olarak ortalar */
    align-items: center;
    width: 60%;
    height: auto;
    clip-path: polygon(0 0, 100% 0, calc(100% - 10%) 100%, 0 100%);
    position: relative;
    z-index: 1;
    background-color: lightblue;
}


.tilted-image-left-1 {
    display: flex;
    justify-content: center;
    /* Yatay olarak ortalar */
    align-items: center;
    width: 70%;
    height: auto;
    clip-path: polygon(0 0, 90% 0%, 100% 100%, 0% 100%);
    position: relative;
    z-index: 1;
    /* Resimleri birbirine yaklaştırmak için */
}

.tilted-image-right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: auto;
    clip-path: polygon(10% 0, 100% 0, 100% 100%, 0 100%);
    position: relative;
    margin-left: -10%;
    z-index: 2;
    background-color: pink;
    position: relative;
    overflow: hidden;
}

.tilted-image-right:hover {
    background-color: #efa5a5;
}

.tilted-image-right img {
    transition: transform 0.3s ease;
}

.tilted-image-right:hover img {
    transform: scale(1.1);
}

.tilted-image-right:hover .site-link {
    bottom: 10px;
    opacity: 1;
}

.tilted-image-left:hover {
    background-color: rgb(136, 193, 211);
}

.tilted-image-left img {
    transition: transform 0.3s ease;
}

.tilted-image-left:hover img {
    transform: scale(1.1);
}

.tilted-image-left:hover .site-link {
    bottom: 10px;
    opacity: 1;
}

.site-link {
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    opacity: 0;
    transition: bottom 0.3s ease, opacity 0.3s ease;
}

.image-container img {
    display: block;
}

.carousel img {
    transition: transform 0.3s ease;
}

.carousel img:hover {
    transform: scale(1.03);
}

.carousel-item {
    transition: transform 10s linear;
}

.services-container {
    margin-left: 15%;
    margin-right: 15%;
}

.service-item {
    width: 25%;
    /* 4 ikon yan yana */
    cursor: pointer;
    color: inherit;

}

.service-item:hover .icon-container {
    transform: scale(1.15);
}

.icon-container {
    background-color: #ffc108;
    border-radius: 50%;
    width: 10vh;
    height: 10vh;
    font-size: 5vh;
}

/* Ekran boyutu 800px veya daha küçükse */
@media (max-width: 800px) {
    .service-item {
        width: 50%;
        /* 2 ikon yan yana */
    }
}

.enlarge-on-hover {
    transition: transform 0.2s ease;
    cursor: pointer;
    /* İsteğe bağlı, el işareti olsun isterseniz ekleyin */
}

.enlarge-on-hover:hover {
    transform: scale(1.02);
}